---
const { devInfo } = Astro.props;
---

<section id="home" class="hero-section">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">{devInfo.name}</h1>
      <h2 id="animate-text" class="hero-subtitle">{devInfo.title}</h2>
      <p class="hero-bio">{devInfo.bio}</p>
      <div class="hero-social">
        {devInfo.social.map((social) => (
          <a
            href={social.url}
            class="social-link"
            title={social.title}
            target="_blank"
            rel="noopener noreferrer"
            download>
            <i class={`${social.icon}`}></i>
          </a>
        ))}
    </div>
  </div>
</section>

<script>
  const text = document.getElementById("animate-text");
  let str = text.innerHTML;
  text.innerHTML = "";

  // Declaramos una variable en la que asignaremos un valor para que sea el tiempo en ms que durará la función setTimeout
  const speed = 80;
  let i = 0;

  // Esta función recorre todos los caracteres nuestro texto
  const typeWriter = () => {
    if (i < str.length) {
      text.innerHTML += str.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    }
  };

  // Acá ejecutamos la función
  setTimeout(typeWriter, speed);

</script>
