---
import Image from "astro/components/Image.astro";

const { skills } = Astro.props;
---

<section id="skills" class="skills-section">
  <div class="section-container">
    <h2 class="section-title">Habilidades</h2>
    <div class="skills-grid">
      {
        skills.map((skill) => (
          <div class="skill-card" title={skill.name}>
            {/* <i class={`${skill.icon} skill-icon`} /> */}
            <Image
              src={skill.image}
              alt={skill.name}
              class="skill-icon"
              width={30}
              height={30}
            />
            {/* <h3 class="skill-name">{skill.name}</h3> */}
          </div>
        ))
      }
    </div>
  </div>
</section>
